html,
body {
  justify-content: center;
  display: flex;
}
.schedule_body table {
  width: 100%;
  border: 1px solid #444444;
  border-collapse: collapse;
  min-width: 500px;
  max-width: 1000px;
  height: 600px;
  font-size: 18px;
}
.schedule_body th {
  border-top: 1px solid green;
}

.schedule_body {
  margin: 15px;
}

.schedule_body .time,
.time1 {
  border-right: 1px solid green;
  border-left: 1px solid green;
}

.time1 {
  background-color: burlywood;
}

.schedule_body .check,
.check1 {
  width: 30px;
}

.input_data {
  margin: 15px;
  display: inline-flex;
  justify-content: space-around;
}
