html,
body {
  justify-content: center;
  display: flex;
}

body {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
  overflow: hidden;
}

.schedule_body table {
  width: 100%;
  border-collapse: collapse;
  min-width: 500px;
  max-width: 1000px;
  height: 600px;
  font-size: 18px;
}
.schedule_body th {
  border: 1px solid green;
}

.schedule_body {
  margin: 15px;
  position: relative;
}

table {
  background-color: white;
}
.schedule_body .time,
.time1 {
  border-right: 1px solid green;
  border-left: 1px solid green;
}

.schedule_body .check,
.check1 {
  width: 30px;
}

.change_button {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.change_button > button {
  padding: 6px 12px;
  color: #fff;
  background-color: cadetblue;
  border-radius: 5px;
  font-size: 13px;
  border: none;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;

  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
